p, a, h1, button {
	font-family: Helvetica, sans-serif;
}

p, a {
	text-align: left;
	margin: 3px;
}

p {
	color: black;
}

a.user-link {
	text-decoration: none;
	color: darkblue;
}

a.user-link:hover{
	color: blue;
}

/* Buttons */

.buttons-div {
	width: 450px;
	margin: 0 auto;
	padding: 0 0 10px 0;

}

.inside-buttons-div {
	text-align: center;
}


button {
	background-color: white;
	color: darkblue;
	font-size: 17px;
	border: 2px solid darkblue;
	border-radius: 15px;
	outline: none
}

button:hover{
	background-color: #DDDDDD;
	color: darkblue;
}

/* Content box */

.content {
	width: 500px;
	background-color: #DDDDDD;
	margin: 0 auto;
	padding: 10px 0;
	border: 2px solid darkblue;
	border-radius: 15px;
}

/* Div containing all tweets */
.all-tweets {
	width: 450px;
	margin: 0 auto;

}

/* Individual tweet box */

.tweet {
	border: 2px solid darkblue;
	border-radius: 15px;
	margin: 5px;
	padding: 5px 10px;

}

.tweet:red

/* Tweet content formatting */

.tweet-text {
	font-size: 17px;
}

.time-text {
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
}

.user-link {
	font-size: 16px;
	font-weight: bold;
}


/* Heading */
.title-div {
	width: 450px;
	margin: 0 auto;
}

.heading-text{
	text-align: center;
	margin-top: 0;
	margin-bottom: 5px;
	color: black;
}


