p, a, h1 {
	font-family: Helvetica, sans-serif;
}

p, a {
	text-align: left;
	margin: 3px;
}

p {
	color: black;
}

.buttons-div {
	width: 450px;
	margin: 0 auto;

}

.inside-buttons-div {
	text-align: center;
}


.content {
	width: 500px;
	background-color: #DDDDCC;
	margin: 0 auto;
	padding: 20px 0;
	border: 2px solid darkblue;
	border-radius: 15px;
}

.all-tweets {
	width: 450px;
	margin: 0 auto;

}

.tweet {
	border: 2px solid darkblue;
	border-radius: 15px;
	margin: 5px;
	padding: 5px 10px;

}

.tweet-text {
	font-size: 17px;
}

.time-text {
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
}

.user-link {
	font-size: 16px;
	font-weight: bold;
}

.title-div {
	width: 450px;
	margin: 0 auto;
}

.heading-text{
	text-align: center;
	margin-top: 5px;
	color: #222222;
}
